<div class="">
  <% debugger %>
  <% if @errors %>
    <ul>
      <%= @errors.each do |error| %>
        <li><%= error%></li>
      <% end %>
    </ul>
  <% end %>
  <%= react_component 'App', errors: @errors%>
</div>
