// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.movie{
  margin-left:  20px;

  .one-review {
    // border-bottom: solid 1px #ccc;

  }
  .one-review  {
    margin-top: 10px;
    // border-bottom: solid 2px grey;
  }

  .form-review {
    margin-top: 20px;
  }
  .review-textarea {
    border-radius: 13px;
  }

  .post-review-btn {
    margin-left: 180px;
  }


  .form-review{
    padding: 10px;
    background: grey;
    border-radius: 3px;
    box-shadow: 6px 6px 5px #666666;
  }
}
